table{ width: 98%; }
table, td, th, tr { border: 1px solid black; }

#diet_days li{ list-style: none; float: left; padding: 0px 10px; font-weight: bold; font-size: 100%; border: 1px soild black; background-color: lightgrey; margin-right: 2px; }

.meals h2 a{ font-size: 80%; font-weight: normal; }
.meals .meal_name{ width: 350px; }
.meals .meal_quantity{ width: 75px; }