.choose_diet h2 span{ font-weight: normal; font-size: 80%; }

.diet { padding: 1em 0em 1em 1em; border: 1px solid black; margin: 0px 0px 5px 0px; height: 3em; cursor: pointer;}
.diet:hover { background-color: lightgreen;}
.diet h3{ padding:0px; margin: 0px; }


.diet .actions{ text-align: right;  width: 100px; }