#weight_graph, #bmi_graph{ height: 300px; width: 100%;}

.date_nav h2{ margin:5px 0px 5px 0px; }

.day_plan .meal_section li{ list-style: circle; padding: 2px 0px; }
.day_plan .meal_section ul{ padding-left: 20px; margin: 0px; }
.day_plan .meal_section{ float: left; width: 22%; margin-left:0px; margin-right: 20px;}
.day_plan { clear: both; }

#ui-datepicker-div{ z-index: 10000; }

.shopping_list table tr, .shopping_list table td, .shopping_list table th{ border: 1px solid black; }
.shopping_list table th { text-align: center; }
.shopping_list table td { text-align: right; } 

/* choose diet */
.choose_diet h2 span{ font-weight: normal; font-size: 80%; }

.diet { padding: 1em 0em 1em 1em; border: 1px solid black; margin: 0px 0px 5px 0px; height: 3em; cursor: pointer;}
.diet:hover { background-color: lightgreen;}
.diet h3{ padding:0px; margin: 0px; }

.diet .actions{ text-align: right;  width: 100px; }
.active{ background-color: lightyellow !important; }

#details { padding: 5px; border: 1px solid black; }
#details h1, #details h2, #details h3, #details h4{ margin:0px 0px 1em 0px; padding:0px; }
#details .day_plan .meal_section{ width: 20%; }