{% extends "base.html" %}
{% block title %}Zarejestruj się{% endblock %}

{% block head %}
<script>$(document).ready(function(){$('#id_email').focus()})</script>
{% endblock %}

{% load webdesign %} 

{% block content %}

	<div class="grid_6 alpha register">
	
		<form method="post" action="">
			<h2>Utwórz konto</h2>
			{{ form.as_ul }}
			<p><input type="submit" value="Zarejestruj się" /></p>
		</form>
	</div>
	
	<div class="grid_6 omega">
		<h2>Jak założyć konto?</h2>
		<p>Aby korzystać z Dietera musisz nam podać swój aktualny adres email, po rejestracji dostaniesz instrukcje jak aktywować konto.</p>
		<p>Musisz również zaakceptować <a href="/regulamin">regulamin</a> serwisu zaznaczając odpowiedni boks na dole formularza</p>
		<p>Przez okres beta testów Dieter będzie serwisem zupełnie darmowym.</p>
	</div>
	
{% endblock %}