{% extends 'admin-base.html' %}

{% load humanize %}
{% load webdesign %} 
{% load i18n %}
{% load comments %}

{% block content %}

	<div id="managment_index" class="grid_12">

		<div class="grid_12">
			<h2>Utwórz nową dietę</h2>
		</div>
		
		<div class="grid_12">		
		
			<form action="" method="post">
				{{form.as_p}}
				<p><input type="submit" value="Zapisz"/></p>
			</form>
		
		</div>
		
	</div>
	
	<script type="text/javascript" src="{{MEDIA_URL}}ckeditor/ckeditor.js"></script>
	<script>
	$(document).ready(function(){
		var ckeditor = CKEDITOR.replace('id_description');
	});
	</script>

{% endblock %}