{% extends 'admin-base.html' %}

{% load humanize %}
{% load webdesign %} 
{% load i18n %}

{% block content %}

	<div id="patient_list" class="grid_12">

		<h2>Lista pacjentów</h2>
		{%if patients %}
			<table>
				<tr>
					<th>Email</th>
					<th>Data rejestracji</th>
					<th>Akcje</th>
				</tr>
				{% for p in patients %}
				<tr>
					<td>{{p.user.email}}</td>
					<td>{{p.user.date_joined|naturalday}}</td>
					<td>
						{% if p.has_diet %}
							<a href="{% url edit_diet p.current_diet.id %}" title="Edytuj dietę">Edytuj dietę</a></td>
						{%else%}
							<a href="{% url create_diet p.user.id %}" title="Utwórz nową dietę">Utwórz nową dietę</a></td>
						{%endif%}
					</td>									
				</tr>
				{% endfor %}
			</table>				
		{%endif%}
		
	</div>
	
	

{% endblock %}