{% if plot_data %}
<div id="weight_graph"></div> 
<script type="text/javascript">

	$.jqplot.eventListenerHooks.push(['jqplotClick', function(ev, gridpos, datapos, neighbor, plot){
		if(neighbor){
			var date = new Date(neighbor.data[0])
			window.location=dashboard_url+date.format("yyyy/m/d")+"/";
		}
	}]);

	$.jqplot('weight_graph', {{plot_data|safe}}, {
		axes:{
			xaxis:{
				renderer: $.jqplot.DateAxisRenderer,
				rendererOptions:{
					tickRenderer:$.jqplot.CanvasAxisTickRenderer,
					tickOptions:{angle:-30, fontWeight:'normal'}
            	}				
			}
		},
		highlighter: {sizeAdjust: 7}
	});
</script>
{% else %}
<h3>Brak danych</h3>
{% endif %}
