<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.autocomplete.css" media="screen" type="text/css" />
<link rel="stylesheet" href="{{MEDIA_URL}}css/diet-edit.css" type="text/css"/>	
<script>products_autocomplete_url = '{% url diet_food_autocomplete %}'</script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.dom-builder.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.autocomplete.js"></script>	
<script type="text/javascript" src="{{MEDIA_URL}}js/diet.js"></script> 		
