<form id="start_date_form" action="{%url diet_start_date diet_id%}" method="post">
	<p>
		<label for="id_start_date">{{form.start_date.label}}</label>
		{{form.start_date}}
		{% if diet.start_date %}
		<span><a href="javascript:void(0)" id="reset_diet_start_date">Wyłącz dietę</a></span>
		{% endif %}
	</p>
</form>
<script>

	var handle_submit = function(){		
		$.post(set_diet_start_date_url, $("#start_date_form").serialize(), function(data){
			if(data == 'ok'){  
				window.location.reload();
			}else{ 
				$('#set_start_date').html(data);
			}
		},"html");
		
		return false;
	}
		 

	$("#id_start_date").datepicker({
		dateFormat: 'yy-mm-dd',
		onSelect: function(dateText, inst) {
			$('#id_start_date').attr('value',dateText);
			handle_submit();
		}
	});

	$('#id_start_date').datepicker('show')

	$("#start_date_form").submit(handle_submit)
	
	$("#reset_diet_start_date").click(function(){
		$('#id_start_date').attr('value','')
		handle_submit();		
	})
	

	

</script>