{% extends 'admin-base.html' %}

{% load humanize %}
{% load webdesign %} 
{% load i18n %}

{% load diet %}

{% block head %}
	{{block.super}}
 	<script type="text/javascript" src="{{MEDIA_URL}}js/diet.js"></script>	
{% endblock %}

{% block content %}

	<div class="grid_10 alpha">
		<ul id="diet_days">
		{%for d in days%}
			<li>
				{% ifequal d.sequence_no current_day.sequence_no %}
					{{d.sequence_no}}
				{% else %}
					<a href="{%url edit_diet diet.id d.sequence_no%}">{{d.sequence_no}}</a>				
				{% endifequal %}
			</li>
		{%endfor%}
		</ul>
	</div>

	<div class="grid_2 omega">
		<a href="{%url diet_add_day diet.id%}">Dodaj dzień</a>
		{% if can_delete %}
			<br/>
			<a href="{%url diet_del_day diet.id current_day.sequence_no%}" onclick="return confirm('Czy napewno chcesz usunąć ten dzień?')">Usuń dzień</a>
		{% endif %}
	</div>

	<form action="{% url diet_perform_action diet.id current_day.sequence_no %}" method="post">

		<div class="grid_12 meals">
			{% meals_section 'breakfest' 'Śniadanie' breakfest %}
		</div>
		
		<div class="grid_12 meals">
			{% meals_section 'brunch' 'Drugie Śniadanie' brunch %}		
		</div>
		
		<div class="grid_12 meals">
			{% meals_section 'lunch' 'Obiad' lunch %}		
		</div>
		
		<div class="grid_12 meals">
			{% meals_section 'dinner' 'Kolacja' dinner %}
		</div>	
		
		<div class="grid_12" style="text-align:right;">
			<input type="submit" name="save_day" value="Zapisz Dzień"/>
			<input type="submit" name="save_diet" value="Zapisz Dietę"/>
			<input type="submit" name="send_diet" value="Wyślij Dietę"/>
			<br/><br/>
		</div>
	
	</form>
	
	<div class="grid_12">
		<hr/>
		<h2>Debug</h2>
		<form method="post" action="{%url diet_add_meal diet.id current_day.sequence_no%}">
			<select name="type">
				<option value="breakfest">breakfest</option>
				<option value="brunch">brunch</option>
				<option value="lunch">lunch</option>
				<option value="dinner">dinner</option>
			</select>
			
			<input type="text" name="name"/>
			<input type="text" name="quantity"/>
			
			<input type="submit" value="dodaj"/>
		</form>
	</div>
	

{% endblock %}