{% extends 'loggedin-base.html' %}

{% load webdesign %} 
{% load humanize %}
{% load graphs %}
{% load diet %}

{% block head %}
	{{block.super}}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/dashboard.css" type="text/css" />
 	<script>
 		diet_url = '{% url diet %}';
 		set_diet_start_date_url = '{% url diet_start_date  diet.id%}';
 		$(document).ready(function(){
	 		$("#requested_day").datepicker({
				defaultDate: new Date({{requested_day.year}},{{requested_day.month}}-1,{{requested_day.day}}),
				gotoCurrent: true,
				dateFormat: 'yy/mm/dd',
				onSelect: function(dateText, inst) {
					window.location=diet_url+dateText;
				}
			});
 		});
 		
 	</script>	
 	<script type="text/javascript" src="{{MEDIA_URL}}js/dashboard/dashboard.js"></script>
 	<script type="text/javascript" src="{{MEDIA_URL}}js/dashboard/common.js"></script> 	
{% endblock %}


{% block content %}

	<div class="grid_10 alpha">

		<div class="grid_5 alpha date_nav">
			<h2>
				<a href="{% url diet yesterday.year yesterday.month yesterday.day  %}">&laquo;</a>
	
				{{requested_day|naturalday}}
	
				{% ifnotequal requested_day today %}
				<a href="{% url diet %}">dzisiaj</a>
				{% endifnotequal %}
				
				<input type="hidden" name="requested_day_name" id="requested_day"/>
				<a href="javascript:show_datepicker('#requested_day');">wybierz dzień</a>
				
				{% if tommorow %}
				<a href="{% url diet tommorow.year tommorow.month tommorow.day  %}">&raquo;</a>
				{% endif %}
			</h2>
		</div>
		
		<div class="grid_5 omega date_nav">
			<h2>
				<a class="open_set_start_day_dialog" href="#">zmień datę rozpoczęcia diety</a>
				&nbsp;|&nbsp;
				<a target="blank" href="{%url diet_print_diet%}">wydrukuj</a>
			</h2>
		</div>
	
		<div class="grid_10 alpha">
	
			<div class="day_plan">
			
				{% if not no_diet %}
				
					{% for day_plan in days %}
						{% if day_plan %}
							<h2>{{day_plan.expected_day|naturalday|capfirst}}&nbsp;({{day_plan.sequence_no}} dzień diety)</h2>
							{% day_plan diet day_plan %}
							<br style="clear:both;"/>
						{% endif %}
					{% endfor %}
					
				{% else %}
				
					<p>Tych dni dieta nie obejmuje.</p>
					
				{% endif %}
				
			
			</div>
			
	
		</div>
		
	</div>

	<div class="grid_2 omega"><img src="{{MEDIA_URL}}/images/adsense.png" alt="adsense example"></div>
	
	<div id="set_start_date"></div>
	
{% endblock %}