{% extends 'loggedin-base.html' %}

{% load webdesign %} 
{% load humanize %}
{% load graphs %}
{% load diet %}

{% block head %}
	{{block.super}}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/dashboard.css" type="text/css" />
{% endblock %}


{% block content %}

	
	<div class="grid_10 alpha">

		<p>Nie masz jeszcze wprowadzonej diety, dietetyk niebawem powinien ją uzupełnić, w międzyczasie możesz zapoznać się z <a href="">serwisem...</a></p>		

	</div>

	<div class="grid_2 omega" style="background-color: yellow; text-align: center;">
	
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>		
		<p>Ads by google</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>		
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
	
{% endblock %}