{% extends 'loggedin-base.html' %}

{% load webdesign %} 
{% load humanize %}
{% load graphs %}
{% load diet %}
{% load home %}

{% block head %}
	{{block.super}}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/dashboard.css" type="text/css" />
{% endblock %}


{% block content %}

	
	<div class="grid_10 alpha">
		{% ifusergroup patient %}
		<p>Nie masz jeszcze wprowadzonej diety, dietetyk niebawem powinien ją uzupełnić, w międzyczasie możesz zapoznać się z <a href="/wprowadzenie">serwisem...</a></p>
		{% endifusergroup %}
		{% ifusergroup web_user %}
		<p>Nie masz jeszcze wprowadzonej diety, możesz ją wprowadzić albo kupić <a href="">tutaj</a></p>
		{% endifusergroup %}		

	</div>

	<div class="grid_2 omega"><img src="{{MEDIA_URL}}/images/adsense.png" alt="adsense example"></div>
	
{% endblock %}