{% extends 'admin-base.html' %}

{% load humanize %}
{% load webdesign %} 
{% load i18n %}

{% load diet %}

{% block head %}
	{{block.super}}
	<script type="text/javascript" src="{{MEDIA_URL}}ckeditor/ckeditor.js"></script>
	<script>$(document).ready(function(){CKEDITOR.replace('id_message')});</script>	
{% endblock %}

{% block content %}

	<div class="grid_12">
	
		<form action="{%url diet_send_form diet.id%}" method="POST">
			{{form.as_p}}
			<input type="submit" value="Wyślij"/>
		</form>	

	</div>
	


{% endblock %}