<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

   	{% load home %}

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Dieter.pl{% endblock %}</title>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/reset-min.css" type="text/css" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/fonts-min.css" type="text/css" />
        <link rel="stylesheet" href="{{MEDIA_URL}}css/base.css" type="text/css" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/grid.css" type="text/css" />
		
		<link rel="stylesheet" href="{{MEDIA_URL}}css/main.css" type="text/css" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.7.1.css" type="text/css" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.jgrowl.css" type="text/css" />
				
		<link rel="Shortcut Icon" type="image/ico" href="{{MEDIA_URL}}images/favicon.ico" />
		
		{% jquery %}
		
 		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.jgrowl.js"></script>
 				
		{% block head %}{%endblock%}
    </head>
    
    <body class="container_12">
		
		<!-- Start logo -->
		<div class="grid_4 logo">
			<h1><a href="/" title="Dieter.pl">
				<img height="60" src="{{MEDIA_URL}}images/dieter.jpg" alt="Dieter.pl"/>
			</a></h1>
		</div>
		<!-- End logo -->
		<!-- Start links -->
		<div class="grid_8" id="top-links" style="text-align: right">
			{% block top-links %}
			
				{% if user.is_authenticated %}
					<div>
						Witaj <b>{{ user.email }}</b>
					</div> 
					<div>
						<a href="{% url auth_logout %}" title="logout">wyloguj się</a>
						{% if user.is_staff %}
							&nbsp;|&nbsp;
							<a href="/admin">admin</a>
						{% endif %}
					</div>
				{%else%}
				
				<form class="top_login" action="{% url auth_login %}" method="post">
					<p>
						<label for="id_username">Email:&nbsp;</label><input id="id_username" type="text" name="username" maxlength="30" />&nbsp;
						<label for="id_password">Hasło:&nbsp;</label><input type="password" name="password" id="id_password" />
						&nbsp;
						<input type="submit" class="submit" value="Zaloguj" />
					</p>
				</form>
				
				
				{% endif %}			
			
			{%endblock%}
		</div>
		<!-- End links -->

		{% block main-tabs %}
			<hr style="clear:both;width:100%;"/>
		{% endblock %}
		
		<div class="grid_12">&nbsp;</div>
				
		<!-- Start content -->
		<div class="grid_12">
			{% block content %}{% endblock%}
		</div>
		<!-- End content -->
		
		<!-- Start footer -->
		<div id="footer" class="grid_12">

			<a href="Dieter.pl" title="Dieter.pl">Dieter.pl</a> &copy;2009
			&nbsp;|&nbsp;
			<a href="/regulamin/" title="Regulamin serwisu">Regulamin</a>
			&nbsp;|&nbsp;
			<a href="/wprowadzenie/" title="Pomoc">Pomoc</a>
			&nbsp;|&nbsp;
			<a href="/wspolpraca/" title="Współpraca">Współpraca</a>
			&nbsp;|&nbsp;
			Skontaktuj się z nami: <a href="mailto:kontakt@dieter.pl">kontakt@dieter.pl</a>
		</div>	
		<!-- End footer -->
		
		{% if messages %}
			<script>
			$(document).ready( function() {
		    {% for message in messages %}
		    	$.jGrowl("{{message}}");
		    {% endfor %}
			})
			</script>
		{% endif %}
		

	</body>
</html>