{% extends "comments/base.html" %}
{% load i18n %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
  {% load comments %}
<form class="" action="{% comment_form_target %}" method="POST">
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% else %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "name" %} style="display:none;"{% endifequal %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}
        {% ifequal field.name "email" %} style="display:none;"{% endifequal %}
        {% ifequal field.name "url" %} style="display:none;"{% endifequal %}
                >
        {% if field.errors %}{{ field.errors }}{% endif %}
        {{ field }}
      </p>
    <input type="hidden" name="name" value="placeholder"/>
	{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    {% endif %}
  {% endfor %}
   <input type="submit" name="submit" class="submit-post" value="Wyślij wiadomość" />
</form>

<script type="text/javascript" src="{{MEDIA_URL}}ckeditor/ckeditor.js"></script>
<script>$(document).ready(function(){CKEDITOR.replace( 'id_comment')});</script>

{% endblock %}
