{% extends 'loggedin-base.html' %}

{% load webdesign %} 
{% load humanize %}
{% load graphs %}
{% load diet %}

{% block head %}
	{{block.super}}
	
	<link rel="stylesheet" href="{{MEDIA_URL}}css/dashboard.css" type="text/css" />
 	
 	<script>
 		save_weight_url = '{% url dashboard_save_weight requested_day.year requested_day.month requested_day.day %}';
 		dashboard_url = '{% url dashboard %}';
 		set_diet_start_date_url = '{% url diet_start_date  diet.id%}';
 		requested_day = new Date({{requested_day.year}},{{requested_day.month}}-1,{{requested_day.day}});
 	</script>
 	<script type="text/javascript" src="{{MEDIA_URL}}js/dashboard/dashboard.js"></script>
 	<script type="text/javascript" src="{{MEDIA_URL}}js/dashboard/common.js"></script>
 	
 	<script type="text/javascript" src="{{MEDIA_URL}}js/date.format.js"></script>
 	
	<!--[if IE]><script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/jqplot/excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{MEDIA_URL}}js/jqplot/jquery.jqplot.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>	
	<script type="text/javascript" src="{{MEDIA_URL}}js/jqplot/plugins/jqplot.highlighter.js"></script>	
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.jqplot.css" />
	
{% endblock %}


{% block content %}

	<div class="grid_10 alpha">
	
		<div class="grid_6 alpha date_nav">
			<h2>
				<a href="{% url dashboard yesterday.year yesterday.month yesterday.day  %}">&laquo;</a>
	
				{{requested_day|naturalday}}
	
				{% ifnotequal requested_day today %}
				<a href="{% url dashboard %}">dzisiaj</a>
				{% endifnotequal %}

				<input type="hidden" name="requested_day_name" id="requested_day"/>
				<a href="javascript:$('#requested_day').datepicker( 'show' )">wybierz dzień</a>
				
				{% if tommorow %}
				<a href="{% url dashboard tommorow.year tommorow.month tommorow.day  %}">&raquo;</a>
				{% endif %}
				
			</h2>
		</div>
		
		<div class="grid_4 omega date_nav" style="text-align: right;">
			<h2><a href="#">spytaj się dietetyka</a></h2>
		</div>
	
	
		<div class="grid_10 alpha">
			
			<div class="grid_3 alpha">
				<h2>Moja waga:</h2>
				<div>
					<a href="javascript:void(0)" id="weight_down">-</a>
					{{weight_form.weight}}
					<a href="javascript:void(0)" id="weight_up">+</a>
				</div>

				<h3>Ostatni tydzień:</h3>
				<ul>
					<li>Waga: {{diff_weight_1_week|floatformat:2}} kg</li>
					<li>BMI: {{diff_bmi_1_week|floatformat:2}}</li>
				</ul>	
				
				<h3>Ostatni miesiąc:</h3>
				<ul>
					<li>Waga: {{diff_weight_1_month|floatformat:2}} kg</li>
					<li>BMI: {{diff_bmi_1_month|floatformat:2}}</li>
				</ul>	
							
			</div>
			
			<div class="grid_7 omega">
				{% weight_graph user today 14 requested_day %}
			</div>
						
		</div>		
		
	
	</div>

	<div class="grid_2 omega" style="background-color: yellow; text-align: center;">
	
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>		
		<p>Ads by google</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>		
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
	
	<div class="grid_12 alpha">
		<h2>Dzisiejsze posiłki{%if day_plan %} ({{day_plan.sequence_no}} dzień diety){%endif%}</h2>
		{% if not diet %}
		<p>Nie masz jeszcze wprowadzonej diety, dietetyk niebawem powinien ją uzupełnić, w międzyczasie możesz zapoznać się z <a class="open_set_start_day_dialog" href="#">serwisem.</a></p>
		{% else %}
			{% if not diet.start_date %}
				<p>Nie wybrałeś jeszcze daty rozpoczęcia swojej diety, możesz to zrobić <a class="open_set_start_day_dialog" href="#">tutaj</a>. Poniżej pokazujemy, pierwszy dzień diety.</p>
			{% endif %}
			{% day_plan diet requested_day %}
		{% endif %}
	</div>
	
	<div id="set_start_date"></div>

{% endblock %}